:root {
  --buttons-color: #007bff;
  --primary-color: #ffffff;
  --secondary-color: #007bff;
  --border-color: rgba(173, 165, 165, 0.493);
  --text-color: #000000;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.btn-outline-primary {
  color: var(--buttons-color);
  border-color: var(--buttons-color);
}

.btn-outline-primary:hover {
  color: var(--text-color);
  border-color: var(--buttons-color);
  background-color: var(--buttons-color);
}

.card {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

nav {
  background-color: var(--secondary-color);
}

form {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 15px;
}

input,
select {
  background-color: var(--text-color);
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #28a745;
  color: var(--text-color);
  text-align: center;
  border-radius: 5px;
  padding: 8px;
  position: fixed;
  z-index: 1;
  border: 1px solid var(--border-color);
  top: 100px;
  right: 50%;
}

.btn-primary {
  background-color: var(--buttons-color);
  border-color: var(--buttons-color);
}

.btn-primary:hover {
  background-color: var(--buttons-color);
  border-color: var(--buttons-color);
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    top: 0;
    right: 50%;
    opacity: 0;
  }

  to {
    top: 100px;
    right: 50%;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    right: 50%;
    opacity: 0;
  }

  to {
    top: 100px;
    right: 50%;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 100px;
    right: 50%;
    opacity: 1;
  }

  to {
    top: 0;
    right: 50%;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 100px;
    right: 50%;
    opacity: 1;
  }

  to {
    top: 0;
    right: 50%;
    opacity: 0;
  }
}

#icon {
  height: 60px;
  width: 100px;
}